@{
    ViewBag.Title = "About";
}
<div class="text-center">
    <h2>@ViewBag.Title</h2>
    <p>
        We are currently a podcast website to bring knowledge of everything tech related
        and how we use tech in our daily lives.
    </p>
</div>