@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>We are currently a podcast website to bring knowledge of everything tech related and how we use texh in our daily lives</p>
