@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    AftermathArc<br />
    Email:aftermathArc@gmail.com<br />
    <abbr title="Phone">P:</abbr>
    555.555.5555
</address>

<address>
    <strong>Support:</strong>   <a href="aftermathArc@gmail.com">aftermathArc@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="aftermathArc@gmail.com">aftermathArc@gmail.com</a>
</address>