@model IEnumerable<AftermathArc.Models.podcastinfo>

@{
    ViewBag.Title = "List Of Podcast";
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/scripts")
<h2>List Of All Podcasts</h2>
<script src="https://code.jquery.com/jquery-2.2.0.js"></script>
<script src="~/Scripts/Scripts.js"></script>
<script>
    audioPlayer();
</script>
@foreach (var item in Model)
{
<div class="container" style="padding-top:100px;">
    <h3 class="">@Html.ActionLink(item.podcastName, "Details", new { id = item.ID })</h3>
    <p>@item.Description</p>
    

</div>
}